.header{
    min-height: 200px;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.7)), url('/assets/images/bg-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    h2{
        color: #fefefe;
    }
}

// .header{
//     background-color: var(--primary-green);
//     color: #fefefe;
// }