<div class="header p-5">
    <div class="container">
        <h2 class="m2-2 pt-5">About Us</h2>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center my-5">OUR GOAL</h2>
                <p>Porterage is a collection of management tools. These allow you to monitor your personal finances,
                    make investment decisions as well as reducing risk. Our features include figures and charts that
                    allow you to evaluate different stocks in your portfolio. </p>
                <p>Be your own Investment Manager. Porterage enables you to experience self directed investment using
                    professional tools. These tools allow you to achieve your financial goals while using the most up to
                    date data </p>
           
            </div>
        </div>
       
    </div>
</div>